bin
obj
.vs
.vscode/*
*.user
node_modules
appsettings.*.json
testsettings.*.json
*.log
.DS_STORE
Thumbs.db
.idea
.chrome
/scripts
/src/environment.ts
/dist
/test/coverage-jest
*.lock

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json