@use './scss/colors';
@use './scss/site-layout';
@use './scss/links';

@use '@material/theme' with (
    $primary: colors.$primary-color,
    $on-primary: colors.$foreground-color,
    $secondary: colors.$secondary-color,
    $on-secondary: colors.$foreground-color,
    $background: colors.$background-color,
    $surface: colors.$foreground-color,
    $on-surface: colors.$background-color,
    $error: colors.$error-color
);

@use '@aurelia-mdc-web/all';
