$background-color: #323232;
$darker-background-color: #202020;
$lighter-background-color: #606060;
$border-color: #858585;
$foreground-color: #E3E3E3;
$primary-color: #822CFA;
$lighter-primary-color: #a470ec;
$secondary-color: #2C8DE7;
$lighter-secondary-color: #5bb0ff;
$error-color: #fd4343;
