$background-color: #323232;
$darker-background-color: #202020;
$lighter-background-color: #606060;
$border-color: #858585;
$foreground-color: #FFFFFF;
$primary-color: #822CFA;
$lighter-primary-color: #a470ec;
$secondary-color: #2C8DE7;
$error-color: #E21339;
